body {
  background-color: rgb(20, 20, 80);
}

.card-container {
  box-shadow: rgba(160, 160, 160, 0.2) 0px 30px 20px 20px;
}

.info-container {
  color: antiquewhite;
  background-color: rgb(80, 80, 80);
}

.contact-item {
  border-top: 1px solid rgb(220, 220, 220);
}

.contact-icon {
  color:white;
}

.contact-icon:hover {
  color: rgb(220, 220, 220);
}