body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd
{
  margin: 0px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 100, 100);
}

.card-container {
    width: 350px;
}

.avatar-container {
    position: relative;
    height: 400px;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.status {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: fit-content;
    padding: 1rem;
    border-radius: 2rem;
    background-color: hsla(207, 65%, 52%, 0.8);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    gap: 0.5rem;
}

.checked-svg {
    height: 1rem;
    width: 25px;
    color: white;
}

.info-container {
    position: relative;
    margin-top: -4rem;
    background-color: white;
    text-align: center;
    border-radius: 2rem;
}

.reating {
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(100, 100, 100);
    font-weight: 700;
}

.star-svg {
    height: 1rem;
    color: goldenrod;
}

.name {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgb(60, 60, 60);
    margin-top: 1rem;
}

.skills {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(100, 100, 100);
    font-size: 1rem;
    margin-top: 0.5rem;
}

.price {
    color: rgb(125, 125, 125);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 2rem;
}

.price-value {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(45, 45, 45);
}

.hire-button {
    background-color:#d14f4f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    margin-top: 1.5rem;
    width: 70%;
    box-shadow: rgba(160, 160, 160, 0.5) 0px 10px 15px 0px;
    cursor: pointer;
}

.hire-button:hover {
    background-color:#d44242;
    width: 75%;
    box-shadow: rgba(160, 160, 160, 0.5) 0px 5px 10px 0px;
    transition: 150ms;
}

.contacts-list {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.contact-item {
    width: 25%;
    border-top: 2px solid rgb(220, 220, 220);
}

.contact-item:not(:last-child) {
    border-right: 2px solid rgb(220, 220, 220);
}

.contact-button {
    all: unset;
    cursor: pointer;
}

.contact-icon {
    height: 2rem;
    padding: 1.5rem;
    color: rgb(100, 100, 100);
}

.contact-icon:hover {
    padding: 1rem;
    height: 3rem;
    color: rgb(35, 120, 250);
    transition: 300ms;
}
