body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd
{
  margin: 0px;
}

body {
    background-color: rgb(100, 100, 100);
}

.card-container {
    /*center card on body*/
    position: relative;
    margin: auto;
}

.avatar-container {
    height: 400px;
    width: 350px;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.status {
    position: relative;
    width: 60%;
    height: 2rem;
    top: 85%;
    border-radius: 2rem;
    margin: auto;
    background-color: hsla(207, 100%, 62%, 0.8);
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    align-items: center;
    line-height: 2rem;
}

.checked-svg {
    height: 1rem;
    width: 30px;
    fill: white;
}

/*======================================================================*/

.info-container {
    position: absolute;
    background-color: whitesmoke;
    height: 350px;
    width: 350px;
    text-align: center;
    border-radius: 2rem;
}

.reating {
    position: relative;
    margin-top: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(80, 80, 80);
    font-weight: 600;
}

.star {
    height: 1rem;
    color: goldenrod;
    /*color for svg*/
}

.name {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgb(70, 70, 70);
    margin-top: 1rem;
}

.skills {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(80, 80, 80);
    font-weight: 600;
    margin-top: 0.5rem;

}

.price {
    color: rgb(125, 125, 125);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5rem;
}

.price-value {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(45, 45, 45);
}

.hire-button {
    background-color:#d14f4f;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border: none;
    border-radius: 2rem;
    padding: 0.7rem 1.5rem;
    margin-top: 1.5rem;
    width: 80%;
    box-shadow: rgba(160, 160, 160, 0.5) 0px 10px 15px 0px;
}

.contact {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
}

/*color for svg*/
/*single class structure*/

.linkedin {
    border: 2px solid rgb(220, 220, 220);
    width: 25%;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.linkedin img {
    height: 2rem;
    padding: 1.5rem;
}

.instagram {
    border: 2px solid rgb(220, 220, 220);
    border-bottom: none;
    border-right: none;
    width: 25%;
}

.instagram img {
    height: 2rem;
    padding: 1.5rem;
}

.facebook{
    border: 2px solid rgb(220, 220, 220);
    width: 25%;
    border-bottom: none;
    border-right: none;
}

.facebook img {
    height: 2rem;
    padding: 1.5rem;

}

.twitter{
    border: 2px solid rgb(220, 220, 220);
    width: 25%;
    border-bottom: none;
    border-right: none;
}

.twitter img {
    height: 2rem;
    padding: 1.5rem;
}